$simplicio-text-color-a: black;
$simplicio-text-color-b: white;
$simplicio-bg-color-a: grey;
$simplicio-bg-color-b: blue;

$simplicio-first-letter-color: $simplicio-text-color-b;
$simplicio-first-letter-bg: $simplicio-bg-color-a;
$simplicio-first-letter-corners: 20px 20px 20px 20px;