/* line 1, ../sass/_simplicio-tools-utils.scss */
.simplicioVerticalAlignFrame {
  display: table;
  width: 100%;
  min-height: 100%;
}

/* line 5, ../sass/_simplicio-tools-utils.scss */
.simplicioVerticalAlignContent {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 9, ../sass/_simplicio-tools-utils.scss */
span.simplicioLetter {
  font-size: 3.3333em;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px 20px 20px;
  width: 1.2em;
  height: 1.5em;
  line-height: 1.4em;
  float: left;
  color: white;
  background: grey;
  margin-right: 15px;
  margin-top: 5px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

/* line 1, ../sass/_simplicio-navbar.scss */
.simplicioNavigation {
  margin-bottom: 0px;
  border: 0px none;
}
/* line 5, ../sass/_simplicio-navbar.scss */
.simplicioNavigation a {
  cursor: pointer;
}
/* line 8, ../sass/_simplicio-navbar.scss */
.simplicioNavigation a#logo {
  padding: 0px;
  height: 60px;
}
/* line 12, ../sass/_simplicio-navbar.scss */
.simplicioNavigation a#logo img {
  height: 100%;
}

/* line 19, ../sass/_simplicio-navbar.scss */
#admin-menu {
  z-index: 9999;
}

/* line 23, ../sass/_simplicio-navbar.scss */
body.admin-menu .simplicioNavigation.navbar-fixed-top {
  margin-top: 29px !important;
}

/* line 3, ../sass/_simplicio-accordion.scss */
.simplicio-horizontal-accordion {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 9, ../sass/_simplicio-accordion.scss */
.simplicio-horizontal-accordion .simplicio-accordion-elem {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background-color: black;
}
/* line 19, ../sass/_simplicio-accordion.scss */
.simplicio-horizontal-accordion .simplicio-accordion-elem img {
  display: block;
  position: relative;
  left: 0px;
  width: 100%;
}
/* line 26, ../sass/_simplicio-accordion.scss */
.simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-caption {
  display: block;
  position: absolute;
  bottom: 0px;
  background-color: rgba(1, 1, 1, 0.5);
  width: 100%;
  padding: 10px;
  opacity: 0;
}
/* line 35, ../sass/_simplicio-accordion.scss */
.simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-caption h1, .simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-caption h2, .simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-caption h3, .simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-caption h4, .simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-caption h5, .simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-caption p {
  color: white;
}
/* line 40, ../sass/_simplicio-accordion.scss */
.simplicio-horizontal-accordion .simplicio-accordion-elem .simplicio-accordion-header {
  display: block;
  position: absolute;
  top: 0px;
  background-color: red;
  text-align: center;
  font-size: 1.4em;
  padding: 10px 0px;
  -moz-transform-origin: 0px 100%;
  -ms-transform-origin: 0px 100%;
  -webkit-transform-origin: 0px 100%;
  transform-origin: 0px 100%;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 60, ../sass/_simplicio-accordion.scss */
.simplicio-vertical-accordion .simplicio-accordion-elem .simplicio-accordion-header {
  cursor: pointer;
}
/* line 64, ../sass/_simplicio-accordion.scss */
.simplicio-vertical-accordion .simplicio-accordion-elem .simplicio-accordion-content {
  height: 0px;
}
